<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Password</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header class="border-b-4 border-[#2D85C5]">
      <nav class="flex justify-between py-8">
        <div>
          <div
            class="flex items-center py-8 pt-[3px] pb-[3px] gap-[7px] justify-center"
          >
            <img src="./assets/icon/wpf_books.png" width="28px" />
            <h1 class="font-black sm:text-[24px] lg:text-[24px]">
              MyTSU Classroom
            </h1>
          </div>
        </div>
        <div>
          <div class="flex items-center text-[18px] font-bold gap-[30px]">
            <a href="./admin.html">Home</a>
            <a href="./admin.html">Administration</a>
            <div class="relative">
              <button onclick="showProfile()">
                <img src="./assets/img/profile.png" width="48px" />
              </button>
              <div id="profileModal" class="absolute fade profile-modal" hidden>
                <a
                  href="./profile.html"
                  class="flex gap-[6px] items-center mb-2 profile-link"
                >
                  <img
                    src="./assets/icon/icon_profile.png"
                    style="width: 16px; height: 16px"
                  />
                  <span>Profile</span>
                </a>
                <a
                  href="./login.html"
                  class="flex gap-[6px] items-center profile-link"
                >
                  <img
                    src="./assets/icon/half-circle.png"
                    style="width: 16px; height: 16px"
                  />
                  <span>Log out</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="pt-[5em]">
        <div class="w-[45%]">
          <span
            class="lg:text-center text-[24px] pb-[20px] font-bold border-b-4 border-[#2D85C5]"
          >
            Change Password
          </span>
          <div class="my-[40px] w-[70%] text-[#9F9F9F]">
            <p>
              Choose a strong, unique password that meets our security
              requirements.
            </p>
          </div>
          <form id="changePass" class="grid gap-[20px]">
            <div>
              <label> New Password </label>
              <br />
              <input
                class="onboard-input focus:outline-[#2d85c5]"
                type="password"
                placeholder="Password"
                name="new_pass"
              />
            </div>
            <div>
              <label> Confirm Password </label>
              <br />
              <input
                class="onboard-input focus:outline-[#2d85c5]"
                type="password"
                placeholder="Password"
                name="new_pass_confirm"
              />
            </div>

            <div class="font-bold mt-[1em]">
              <button
                type="submit"
                class="bg-[#2D85C5] w-[100%] text-[#fff] rounded-full py-[15px] px-[8px] save-change"
              >
                Change Password
              </button>
            </div>
          </form>
        </div>
      </div>
    </main>
  </body>
  <script src="./assets/js/utils.js"></script>
</html>
